/* .classname and #IDname, div for type selector and * for all */

.header1 {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}


.odd {
    background-color: rgb(241, 68, 169);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#second {
    color: blue;
    font-size: 36px;
}
#fourth {
    background-color: rgb(90,201,16);
    font-size: 24px;
    font-weight: bold; 
}

.click-me,
.no-click-me {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman, sans-serif";
}
.click-me {
    background-color: black;
    color: white;
}
.no-click-me {
    background-color: yellow;
}